.custom-button {
  min-width: 160px;
  width: auto;
  height: 50px;
  letter-spacing: 0.1px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 14px;
  background-color: #211614;
  color: #fff6f6;
  text-transform: uppercase;
  // font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #fff6f6;
    color: #211614;
    border: 1px solid #211614;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fff6f6;

    &:hover {
      background-color: #2e6bcc;
      border: none;
    }
  }

  &.inverted {
    background-color: #fff6f6;
    color: #211614;
    border: 1px solid #2116148f;

    &:hover {
      background-color: #211614;
      color: #fff6f6;
      border: none;
    }
  }
}
